<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Elena.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Elena.Properties.Settings>
            <setting name="BackColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColour" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="FieldBackColour" serializeAs="String">
                <value>38, 38, 38</value>
            </setting>
            <setting name="FieldTextColour" serializeAs="String">
                <value>DarkSeaGreen</value>
            </setting>
            <setting name="WeakColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="NormalColour" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="ResistColour" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ImmuneColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AbsorbColour" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="ErrorTextColour" serializeAs="String">
                <value>Red</value>
            </setting>
        </Elena.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
